table.HBstandings {
	width: 90%;
	margin-bottom: 0.2em;
	}

table.HBstandings+p {
	margin-left: 1em;
	color: #999;
	}

table.HBstandings td,
table.HBstandings th {
	padding: 0.25em 0.5em;
	border: 0;
	}

table.HBstandings.HBhighlight tr:hover td {
	/*background: #23B;
	color: #fff;*/
	cursor: default;
	}
	
table.HBstandings.HBhighlight tr:hover a,
table.HBstandings.HBhighlight tr:hover a:link {
	/*color: #fff;*/
	}	
	
table.HBstandings.HBhighlight tr.heim td {
	background: #ccc;
	//color: #fff;
	cursor: default;
	}
	

table.HBstandings th {
	text-align: left;
	}

table.HBstandings td {
	text-align: left;
	}

table.HBstandings .textteam {
	text-align: left;
	}